- content_for :page_title do
  = site_hostname

.content
  .box-widget
    .rich-formatting
      %h2 Browse apps

      %p Most people will access mstdn.social directly with the web browser, however if you prefer you can use mstdn.social with any of these apps!

      %h3 Apple iOS

      %p
        = link_to 'Amaroq', 'https://itunes.apple.com/us/app/amarok-for-mastodon/id1214116200?ls=1&mt=8'
         (recommended) - a free and lightweight universal client for any Mastodon instance! Simply enter the instance you belong to, log in, and enjoy the all the wonders of the federated social network from your phone.
      %p
        = link_to 'Mast', 'https://itunes.apple.com/us/app/mast/id1437429129?mt=8'
         - a free app built with iOS design guidelines in mind. It’s as feature-packed as it is gorgeous. With customisable content and themes.
      %p
        = link_to 'Toot! (paid)', 'https://itunes.apple.com/app/toot/id1229021451?ls=1&mt=8'
         - a paid client for the Mastodon social network. It is beautiful, and full of character and whimsy.

      %h3 Google Android

      %p
        = link_to 'Tusky (free)', 'https://play.google.com/store/apps/details?id=com.keylesspalace.tusky'
         (recommended) - a free lightweight client - It supports all features, like photos, videos, lists, custom emojis and is designed according to material guidelines.

      %p
        = link_to 'SubwayTooter (free)', 'https://play.google.com/store/apps/details?id=jp.juggler.subwaytooter'
         - a free Mastodon client for Android 5.0 or later.

      %p
        = link_to 'FediLab (paid)', 'https://play.google.com/store/apps/details?id=app.fedilab.android'
         - Fedilab is paid multifunctional Android client to access the distributed Fediverse, consisting of micro blogging, photo sharing and video hosting.

      %h3 Web

      %p
        = link_to 'Pinafore', 'https://pinafore.social/'
         - web client designed for speed and simplicity.

      %p
        = link_to 'Cuckoo', 'https://cuckoo.social/'
         - A webclient that looks like Google+.

      %p
        = link_to 'Halcyon', 'https://halcyon.mstdn.social/'
         - A webclient that looks like Twitter.

      %h3 Desktop

      %p
        = link_to 'WhaleBird (free)', 'https://whalebird.org/'
         - a client for desktop application

      %p
        = link_to 'Tootle (free)', 'https://appcenter.elementary.io/com.github.bleakgrey.tootle/'
         - a client with real-time notifications and multiple accounts support

      %p
        = link_to 'TheDesk (free)', 'https://thedesk.top/en'
         - a Japanese client.

      %p
        = link_to 'HyperSpace (free)', 'https://hyperspace.marquiskurt.net/'
         - clean, fast, and responsive design that scales beautifully across devices.
