- content_for :page_title do
  = site_hostname

.content
  .box-widget
    .rich-formatting
      %h2 Accounts for you to follow

      %p We have made a list of some confirmed accounts for you to follow.

      %h3 Local and Global News

      %p
        = link_to 'Reddit', 'https://mstdn.social/@reddit'
      %p
        = link_to 'NASA', 'https://mstdn.social/@NASA'
      %p
        = link_to 'Hacker News', 'https://mstdn.social/@HN'
      %p
        = link_to 'New York Times', 'https://mstdn.social/@nytimes'
      %p
        = link_to 'VICE News', 'https://mstdn.social/@VICE'
      %p
        = link_to 'The Verge', 'https://mstdn.social/@verge'
      %p
        = link_to 'TED', 'https://mstdn.social/@TED'
      %p
        = link_to 'Wired', 'https://mstdn.social/@Wired'
      %p
        = link_to 'TechCrunch', 'https://mstdn.social/@TechCrunch'
      %p
        = link_to 'CNET', 'https://mstdn.social/@CNET'
      %p
        = link_to 'IT World', 'https://mstdn.social/@ITWorld'
      %p
        = link_to 'Google News', 'https://mstdn.social/@google'
      %p
        = link_to 'The Guardian', 'https://mstdn.social/@TheGuardian'
      %p
        = link_to 'Discovery', 'https://mstdn.social/@Discovery'
      %p
        = link_to 'The Wall Street Journal', 'https://mstdn.social/@wsj'
      %p
        = link_to 'CNN News18', 'https://mstdn.social/@News18'
      %p
        = link_to 'CNN News', 'https://mstdn.social/@CNN'
      %p
        = link_to 'CNN Europe', 'https://mstdn.social/@CNN_Europe'
      %p
        = link_to 'NPR', 'https://mstdn.social/@NPR'
      %p
        = link_to 'The Washington Post', 'https://mstdn.social/@washingtonpost'


      %h3 Image and Media

      %p
        = link_to '9GAG', 'https://mstdn.social/@9GAG'
      %p
        = link_to 'Cats', 'https://mstdn.social/@meow'
      %p
        = link_to 'HEX', 'https://mstdn.social/@hex'
      %p
        = link_to 'Videos', 'https://mstdn.social/@video'


      %h3 Mastodon and Staff

      %p
        = link_to 'Administrator', 'https://mstdn.social/@stux'
      %p
        = link_to 'Local Updates', 'https://mstdn.social/@mstdn'
      %p
        = link_to 'Mastodon', 'https://mstdn.social/@Mastodon'

      %h3 Heroes Resist

      %p
        = link_to 'Iron Man', 'https://mstdn.social/@IronMan'
      %p
        = link_to 'Natasha Romanova', 'https://mstdn.social/@NatashaRomanova'
      %p
        = link_to 'Steve Rogers', 'https://mstdn.social/@Captain_America'
      %p
        = link_to 'Maria Hill', 'https://mstdn.social/@mariahill'
