- content_for :page_title do
  = site_hostname

.content
  .box-widget
    .rich-formatting
      %h2 Supporting mstdn.social

      %p We do not serve ads, track users or sell data. We rely on your support.

      %p Every little bit is a major help!
      %br

      %h2 Become a Patron
      %p
        = link_to 'Become a Patron', 'https://patreon.com/mstdn'

      %br
      %h2 PayPal and cryptocurrency

      %p We also accept donations on PayPal, Bitcoin and LiberaPay!

      %p
        = link_to 'PayPal email', 'stux@mstdn.social'

      %p
        = link_to 'LiberaPay', 'https://liberapay.com/mstdn/'

      %p Bitcoin:
      %p 1Dyew5zbZTTPjYUZV4RaLoXK9D5Kk7PAP4

      %br

      %h2 Server and storage costs

      %p Since our community keeps expanding rapidly we also need to grow or update our servers and this costs money but how much?
      %br Currently our total costs are just over €95. The main server costs €80 a month. We also have Wasabi(.com) media storage that costs €5 per 1TB per month for min of 6 months.

      %br

      %p
      %p
        = link_to 'See the sponsor list', 'https://mstdn.social/sponsors'
