- content_for :page_title do
  = site_hostname

.content
  .box-widget
    .rich-formatting
      %h2 Supporting mstdn.social

      %p We do not serve ads, track users or sell data. We rely on your support.

      %p Every little bit is a major help!

      %h2 Become a Patron
      %p
        = link_to 'Become a Patron', 'https://patreon.com/mstdn'

      %h2 Other donation methodes

      %p We also accept donations like Bitcoin and LiberaPay!

      %p
        = link_to 'Stellar', 'https://keybase.io/mstdn'

        %p
          = link_to 'PayPal', 'https://www.paypal.com/donate/?token=e8TO9_8ou-LezP5x-JSfv5RXqmp8yjI8ub2yUg5oRpfmejxgd01eal7JqfCICMPoWTeS2G&country.x=US&locale.x=US'

      %p
        = link_to 'PayPal', 'https://www.paypal.com/donate/?token=e8TO9_8ou-LezP5x-JSfv5RXqmp8yjI8ub2yUg5oRpfmejxgd01eal7JqfCICMPoWTeS2G&country.x=US&locale.x=US'

      %p
        = link_to 'LiberaPay', 'https://liberapay.com/mstdn/'

      %p Bitcoin:
      %p 1Dyew5zbZTTPjYUZV4RaLoXK9D5Kk7PAP4


      %h2 Server and storage costs

      %p Since our community keeps expanding rapidly we also need to grow or update our servers and this costs money but how much?
      %br Currently our total costs are just over €125. The main server costs €80 a month. We also have Wasabi(.com) media storage that costs €5 per 1TB per month for min of 6 months.
