- content_for :page_title do
  = site_hostname

.content
  .box-widget
    .rich-formatting
      %h1 See here a list of team members

      %p Our community currently has 2 administrators and 2 moderators. You can contact anyone of these people for questions and support.
      %br

      %h3 Server administrators

      %p
        = link_to '@stux', 'https://mstdn.social/@stux'
      %p
        = link_to '@noorul', 'https://mstdn.social/@noorul'

      %h3 Server moderators

      %p
        = link_to '@null0x0c', 'https://mstdn.social/@null0x0c'

      %p
        = link_to '@io', 'https://mstdn.social/@io'
